[user]
	email = duythinht@gmail.com
	name = Thinh Tran
	signingkey = 62DF4E42D9CD699C
[core]
	editor = nvim
	excludesfile = /home/duythinht/.gitignore
[commit]
	;gpgsign = true
[diff "sopsdiffer"]
	textconv = sops -d
[http "https://git.veep.tech"]
	extraheader = Authorization: Basic NGY4MzAzMzQ0NzU1OGI1NjVkZDQxZDlmZmVmYjQ0NDE4MTQzOGUxYzoK
[branch]
	autosetuprebase = always
[http "https://git.veep.tech/"]
	extraheader = Authorization: Basic YjRiMzNmNDA0OWY3ZjY3MjNhMzgxZmQwMTFkZWQ4NGU4YWQxYTM4MTo=
[url "git@git.veep.tech:"]
	insteadOf = https://git.veep.tech/

[url "git@github.teko.vn:teko-vn"]
	insteadOf = https://github.com/teko-vn
